/* styles.css */

/* Set the image position to absolute, so we can freely move it around */
img {
    position: absolute;
  }

/* styles.css */

/* Set the font-family for the entire webpage */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0; /* Remove default body margin */
  height: 100vh; /* Set the body height to fill the viewport */
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

/* Create a flex container for the 2-column layout */
.container {
  display: flex;
  flex-flow: row wrap;
  height: 100%; 
}

/* Styles for the first column containing header and about */
.left-column {
/* .right-column { */
  flex: 1; /* Take up available space in the first column */
  /* max-width: 400px; Limit the width of the first column */
  padding: 20px;
  background-color: #fdfafd;
  order:0;

  /* min-height: 100vh;  */
  /* height: 100%; Set the column height to fill the container height */
  overflow: auto; /* Add scroll if content overflows */
}

/* Customize the header styles */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  /* font-size: 32px; */
  font-size: calc(32px + 0.390625vw);
}

header p {
  /* font-size: 18px; */
  font-size: calc(18px + 0.390625vw);
}

/* Customize the about me section styles */
#about {
  margin-bottom: 20px;
}

#about h2 {
  /* font-size: 24px; */
  font-size: calc(24px + 0.390625vw);
}

#about p {
  /* font-size: 16px; */
  font-size: calc(16px + 0.390625vw);
}

/* Styles for the second column as a pink-colored block */
.right-column {
/* .left-column { */
  background-color: #fdfafd; /* Pink color */
  display: flex; 
  flex:1 auto;
  flex-grow: 1;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  /* gap:5px; */
}

/* Styles for the gallery items */
.flex-gallery-item {
  flex: 1;
  flex:200px;
  padding: 20px;
  margin:5px;
  background-color: #fcfcc9;
}

.flex-gallery-item img {
  /* max-width: 100%;
  height: auto; */
  position: relative;
  width: 100%; height: auto; 
  min-width: 0;
}

.flex-gallery-item p {
  /* font-size: 16px; */
  font-size: calc(14px + 0.390625vw);
}
